<div class="container-fluid">
  <div class="row">
    <div class="col-3"></div>

    <div class="col-3">
      <div class="card text-center shadow mx-2 mt-5 p-3">
        <h2>faceSnap</h2>

        <form class="text-start" [formGroup]="snapForm">
          <div class="mb-4">
            <label class="form-label fw-bold" for="title">Titre*</label>
            <input class="form-control" id="title" type="text" formControlName="title">
          </div>
          <div class="mb-4">
            <label class="form-label fw-bold" for="description">Description*</label>
            <textarea class="form-control" id="description" type="text" formControlName="description" rows="2"></textarea>
          </div>
          <div class="mb-4">
            <label class="form-label fw-bold" for="imageURL">URL de l'image*</label>
            <input class="form-control" id="imageURL" type="text" formControlName="imageURL">
          </div>
          <div class="mb-4">
            <label class="form-label fw-bold" for="location">Lieu</label>
            <input class="form-control" id="location" type="text" formControlName="location">
          </div>
          <div class="mb-4">
            <button class="btn btn-outline-dark btn-lg w-100 fw-bold" type="submit" (click)="onSubmitForm()" [disabled]="snapForm.invalid">Enregistrer</button>
          </div>
        </form>

      </div>
    </div>

    <div class="col-3">
      <div class="card text-center shadow mx-2 mt-5 p-3" *ngIf="faceSnapPreview$ | async as faceSnap">
        <h2>{{ faceSnap.title | uppercase }}</h2>
        <p>Mis en ligne {{ faceSnap.created_At | date: 'à HH:mm, le d MMMM yyyy' }}</p>
        <img [src]="faceSnap.imageURL" [alt]="faceSnap.title"  class="img-fluid border border-5 rounded">
        <p>{{ faceSnap.description }}</p>
        <p *ngIf="faceSnap.location">Photo prise à {{ faceSnap.location }}</p>
      </div>
    </div>
  </div>
</div>
