<div class="container mt-5 pt-5">
  <div class="row pt-5">
    <div class="col-4"></div>
    <div class="col-4 text-center btn btn-outline-dark btn-lg py-3" (click)="onShowFaceSnaps()">
      <p class="h2 text-center fw-bold my-0">
        Show FaceSnaps
      </p>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col-4"></div>
    <div class="col-4 text-center btn btn-outline-dark btn-sm" (click)="onCreateFaceSnap()">
      <p class="text-center fw-bold my-0">
        Create FaceSnap
      </p>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col-4"></div>
    <div class="col-4">
      <form class="text-center" #subscribeForm="ngForm" (ngSubmit)="onSubmitForm(subscribeForm)">
        <label for="emailInput">Inscrivez-vous pour recevoir notre newsletter !</label>
        <input id="emailInput" name="userEmail" type="email" [(ngModel)]="userEmail" class="w-75">
        <button type="submit" class="w-25">OK!</button>
        <p>{{ userEmail }}</p>
      </form>
    </div>
  </div>
</div>

<!--
<a routerLink="/facesnaps" class="text-decoration-none"><h1 class="text-center py-5">Show FaceSnaps</h1></a>
-->
